/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}

.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

.dots {
  display: inline-block;
  width: 1.5em;
  text-align: left;
}

html {
    scroll-behavior: smooth;
  }

